.container_contact {
    height: 100vh;
     width: 58%;
     display: grid;
     grid-template-columns: 30% 58%;
     gap: 12%;
}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;   
}
.contact_option {
    background: var(--color-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}

.contact_option:hover {
    background: transparent;
    border-color: var(--color-variant);
}

.contact_optio-icon {
     font-size: 1.5rem;
     margin-bottom: 0.5rem;
}
.contact_optio a {
     margin-top: 0.7rem;
     display: inline-block;
     font-size: 0.8rem;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

input,
textarea {
     width: 100%;
     padding: 1.5rem;
     border-radius: 0.5rem;
     background: transparent;
     border: 2px solid var(--color-variant);
     resize: none;
    color: var(--color-white);
}


input:focus,
textarea:focus {
     border: transparent;
     border-bottom:  2px solid var(--color-variant);
}
/*###### Media Queries 'MEDIUM DEVICES' ############*/
@media screen  and (max-width: 1024px) {
    .container_contact {
        width: var(--container-width-md);
          grid-template-columns: 1fr;
          gap: 2rem;
    }

}

/*###### Media Queries 'SMALL DEVICES' ############*/
@media screen  and (max-width: 600px) {
    .container_contact {
        width: var(--container-width-sm);
  }

}