@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: 0;
   border: 0;
   list-style: none;
   text-decoration: none; 
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
      --color-bg: #1f1f38;
      --color-variant: #2c2c6c;
      --color-primary: #4db5ff;
      --color-white: #ffffff;
      --color-light: rgba(255, 255, 255, 0.6);

      --container-width-lg: 75%;
      --container-width-md: 86%;
      --container-width-sm: 98%;

      --transition:  all 400ms ease;  
}

html {
scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
   font-family: "Quicksand";
   color: var(--color-white);
   background-color: var(--color-bg);
   line-height: 1.7;
}

/* #######  GENERAL STYLE #########*/

.container {
   width: var(--container-width-lg);
   margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

section {
    margin-top: 8rem;
    height: 100vh;
}

section > h2,
section > h5 {
    text-align: center;
    color: var(--color-light);
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 6rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

.btn  {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.3rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    border-radius: 5px;
}

.btn:hover {
   background: var(--color-primary);
   color: var(--color-bg);
   border-color: transparent;
}
 
.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/*###### Media Queries 'MEDIUM DEVICES' ############*/
@media screen  and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
    section {
        margin-top: 6rem;
    }
}

/*###### Media Queries 'SMALL DEVICES' ############*/
@media screen  and (max-width: 600px) {
   .container {
       width: var(--container-width-sm);
   }
   section {
       margin-top: 2rem;
   }
}